@media screen and (max-width: 1024px) and (orientation: landscape){

	body {
		width: 100vw;
		height: 100vh;
		background-color: #fff;
	    font-family: 'PT Sans', sans-serif;
	    overflow-x: hidden;  

	    a {
			text-decoration: none;
		}
	}
												/*----------NAVIGATIN BAR---------------*/
	nav	{
		background-color: $livRedTrans;
		height: 15vh;
		width: 100%;
		text-align: center;
		
		img {
			height: 180%;
			float: left;
		}
		
		h1 {
			float: left;
			color: #fff;
			font-size: 5vh;
			font-weight: 900;
			margin: 5vh 0;
		}

		.hamburger	{
			height: 50%;
			width: 7%;
			float: right;
			right: 7%;
			top: 30%;
			position: relative;
			
			.line1, .line2, .line3 {
				width: 100%;
				height: 20%;
				background-color: #FFF;
				transition: transform .3s, top .3s;
				position: absolute;
			}
			.line1	{
				top: 0;
			}
			.line2	{
				top: 40%;
			}
			.line3	{
				bottom: 0;
			}
			.ukrstanje	{
				top: 40%;
				transform: rotate(45deg);
			}
			.ukrstanje-suprotno	{
				top: 40%;
				transform: rotate(-45deg);
			}
		}

		.navigationBar {
			background-color: #fff;
			width: 40%;
			height: 52vh;
			top: 15vh;
			right: 0;
			display: none;
			position: absolute;
			z-index: 1000;
			border-left: 2px solid $livRed;
			border-bottom: 2px solid $livRed;
			
			li {
				padding: 4% 0;

				a {
				color: $livRed;
				font-size: 8vh;
				}
			}	
		}
	}
												/*------------HOMEPAGE NEWS--------------*/
	.newsSectionHome {
		width: 100%;
		margin: 9% 0 0 0;
		
		a {
			text-decoration: none;
			font-size: 3vh;
			font-weight: 900;
			color: #fff;
		}
		.NewsHomeDef	{
			width: 49%;
			height: 30vh;
			-webkit-background-size: cover;
	    	background-size: cover;
	    	background-position: center;
	    	float: left;
	    	position: relative;
	    	margin: 0.5%;

	    		h1 {
				position: absolute;
				font-size: 5vh;
				bottom: 3%;
				padding: 0 1%;
			}
		}
		
		.firstNewsHome {
			background-image: url(../img/vanDijk.jpg);
			@extend .NewsHomeDef;
		}

	    .secondNewsHome {
			background-image: url(../img/clyne-milner.jpg);
			@extend .NewsHomeDef;
	    }
	    .thirdNewsHome {
			background-image: url(../img/stiven.jpg);
			@extend .NewsHomeDef;

	    }
	    .fourthNewsHome {
			background-image: url(../img/salah.jpg);
			@extend .NewsHomeDef;
		}
	    .fifthNewsHome {
			background-image: url(../img/coutinho.jpg);
			@extend .NewsHomeDef;

	    }
	    .sixthNewsHome {
			background-image: url(../img/sturridge.jpg);
			@extend .NewsHomeDef;
	    }
	    .seventhNewsHome {
			background-image: url(../img/vanDijk2.jpg);
			@extend .NewsHomeDef;

	    }
	    .eightNewsHome {
			background-image: url(../img/suarezTorres.jpg);
			@extend .NewsHomeDef;
	    }
	    .ninthNewsHome {
			background-image: url(../img/klopp2.jpg);
			@extend .NewsHomeDef;
	    }
	}

	.section {
		width: 100%;
		display: none;
	}
													/*--------------NEWS----------*/



	.tittle {
		color: $livRed;
		font-size: 8vh;
		float: left;
		margin: 2% 50% 2% 4%;
	}												
	.news1, .news2, .news3, .news4, .news5, .news6, .news7, .news8, , .news9 {
		width: 48.5%;
		text-align: center;
		padding-top: 2%;
		float: left;
		margin: 0 0 0 1%;
		
		img {
			width: 100%;
		}

		h2 {
			color: #000;
			font-size: 5vh;
			
		}
		
	}

													/*---------SQUAD--------*/

	.player {
		float: left;
		width: 50%;
		height: 20vh;

		img {
			width: 18vh;
			float: left;
			padding: 1vh;
		}
		h1 {
			font-size: 5vh;
			font-weight: bold;
			padding: 5% 0 0 5%;
		}
		h2 {
			font-size: 5vh;
			font-weight: bold;
			padding: 0 0 5% 5%;
		}
		.playerDetails {
			padding: 0 0 0 0;
			display: none;
			h3 {
				font-size: 3.5vh;
			}
		}
	}												
	.player:hover {
		h1 {
			font-size: 3.5vh;
			padding: 0;
		}
		h2 {
			font-size: 3.5vh;
			padding: 0;
		}
		.playerDetails{
			display: block;
		}
	}	

												/*------TABLE------*/

	.table {
		float: left;
		width: 70%;
		margin-left: 15%;
			h3 {
				font-size: 5vh;
				font-weight: 900;
				text-align: center;
			}
			.club, .ClubName, .ranking, .clubLogo, .clubName, .goalDiference {
				float: left;
			}
			.club	{
				height: 7vh;
				width: 100%;
				border-bottom: 1px solid gray;
				border-left: 1px solid gray;
				border-right: 1px solid gray;
			}
			.clubDescription	{
				height: 7vh;
				width: 100%;
				border-bottom: 1px solid gray;
			}
			.ranking {
				width: 7.5%;
				padding-top: 1vh;
			}
			.clubLogo {
				width: 12.5%;
				img {
				width: 7vh;
				margin: 0 auto;
				display: block;
				}
				h3 {
					padding-top: 1vh;
				}
			}	
			.clubName {
				width: 57.5%;
				padding-top: 1vh;
			}
			.goalDiference {
				width: 7.5%;
				padding-top: 1vh;
			}
			.poinst {
				width: 15%;
				float: right;
				padding-top: 1vh;
			}
	}

	                                            /*---------GALLERY--------*/

	.gallery {
		width: 99vw;
		a  {
		  float: left;
		}
		img  {
		  width: 18.6vw;
		  padding-left: 1vw;
		  }	
	}
}