<h1 class="tittle">GALLERY<h1>

<div class="gallery">
	<a href="img\vanDijk3.jpg" data-lightbox="gallery1"><img src="img\vanDijk3.jpg" class="spn img-thumbnail" alt="Van Dijk"></a>
	<a href="img\celebration1.jpg" data-lightbox="gallery1"><img src="img\celebration1.jpg" class="spn img-thumbnail" alt="celebration"></a>
	<a href="img/celebration2.jpg" data-lightbox="gallery1"><img src="img/celebration2.jpg" class="spn img-thumbnail" alt="celebration"></a>
	<a href="img/celebrationFirmino.jpg" data-lightbox="gallery1"><img src="img/celebrationFirmino.jpg" class="spn img-thumbnail" alt="Firmino"></a>
	<a href="img/celebrationGerrard.jpg" data-lightbox="gallery1"><img src="img/celebrationGerrard.jpg" class="spn img-thumbnail" alt="Gerrard"></a>
	<a href="img/celebrationKlopp.jpg" data-lightbox="gallery1"><img src="img/celebrationKlopp.jpg" class="spn img-thumbnail" alt="Klopp"></a>
	<a href="img/celebrationSalah1.jpg" data-lightbox="gallery1"><img src="img/celebrationSalah1.jpg" class="spn img-thumbnail" alt="Salah"></a>
	<a href="img/celebrationSalah2.jpg" data-lightbox="gallery1"><img src="img/celebrationSalah2.jpg" class="spn img-thumbnail" alt="Salah"></a>
	<a href="img/celebrationSalah3.jpg" data-lightbox="gallery1"><img src="img/celebrationSalah3.jpg" class="spn img-thumbnail" alt="Salah"></a>
</div>	
