
<h1 class="tittle">NEWS</h1>


<a href="#">
	<div class="news1">
		<img src="img/vanDijk2.jpg">
		<h2>Liverpool’s Virgil van Dijk saga may not be over yet – reports</h2>
	</div>
</a>

<a href="#">
	<div class="news2">
		<img src="img/clyne-milner.jpg">
		<h2>Why Jurgen Klopp shouldn’t ignore Liverpool’s full backs this summer</h2>
	</div>
</a>

<a href="#">
	<div class="news3">
		<img src="img/stiven.jpg">
		<h2>Steven Gerrard: Liverpool legend tasked with creating anti-academy players for Jurgen Klopp’s squad</h2>
	</div>
</a>

<a href="#">
	<div class="news4">
		<img src="img/salah.jpg">
		<h2>Mohamed Salah’s agent hints at Liverpool ‘waiting too long’ to sign winger</h2>
	</div>
</a>



<a href="#">
	<div class="news6">
		<img src="img/sturridge.jpg">
		<h2>Former Liverpool striker full of praise for Daniel Sturridge</h2>
	</div>
</a>

<a href="#">
	<div class="news7">
		<img src="img/vanDijk2.jpg">
		<h2>Southampton ‘accept Liverpool’s apology’ over Virgil Van Dijk pursuit</h2>
	</div>
</a>

<a href="#">
	<div class="news8">
		<img src="img/suarezTorres.jpg">
		<h2>Liverpool’s 10 most significant signings of the Premier League era</h2>
	</div>
</a>

<a href="#">
	<div class="news9">
		<img src="img/klopp2.jpg">
		<h2>Why Liverpool’s 2017/18 pre-season will be different from last years</h2>
	</div>
</a>
</section>

