<h1 class="tittle">SQUAD</h1>


	<div class="player">
		<img src="img/klopp.jpg">
		<h1>Jurgen Klopp</h1>
		<h2>Liverpool FC Manager</h2>
		<div class="playerDetails">
			<h3>Born: June 16, 1967; Stuttgart, Germany</h3>
			<h3>Appointed: October 8, 2015</h3>
		</div>
	</div>	

	<div class="player">
		<img src="img/minole.jpg">
		<h1>Simon Mignolet</h1>
		<h2>Goalkeeper</h2>
		<div class="playerDetails">
			<h3>Born: March 6, 1988; Sint-Truiden, Belgium</h3>
			<h3>Signed: 25 June 2013; Sunderland; £9m</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/karius.jpg">
		<h1>Loris Karius</h1>
		<h2>Goalkeeper</h2>
		<div class="playerDetails">
			<h3>Born: June 22, 1993; Biberach an der Riss, Germany</h3>
			<h3>Signed: 1 July 2016; FSV Mainz; £4.7m</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/clyne.jpg">
		<h1>Nathaniel Clyne</h1>
		<h2>Right back</h2>
		<div class="playerDetails">
			<h3>Born: 5 April 1991; Stockwell, London, England</h3>
			<h3>Signed: 1 July 2015; Southampton; £12m</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/lovren.jpg">
		<h1>Dejan Lovren</h1>
		<h2>Centre-Back</h2>
		<div class="playerDetails">
			<h3>Born: July 5, 1989; Zenica, Bosnia and Herzegovina</h3>
			<h3>Signed: 27 July 2014; Southampton; £20 million</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/matip.jpg">
		<h1>Joel Matip</h1>
		<h2>Centre-Back</h2>
		<div class="playerDetails">
			<h3>Born: August 8, 1991; Bochum, Germany</h3>
			<h3>Signed: 1 July 2016; FC Schalke; Free</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/moreno.jpg">
		<h1>Alberto Moreno</h1>
		<h2>Left-Back</h2>
		<div class="playerDetails">
			<h3>Born: July 5, 1992 (age 22), Seville, Spain</h3>
			<h3>Signed: 18 August 2014; Sevilla; £12m</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/leiva.jpg">
		<h1>Lucas Leiva</h1>
		<h2>Midfielder</h2>
		<div class="playerDetails">
			<h3>Born: January 9, 1987; Dourados, Mato Grosso do Sul, Brazil</h3>
			<h3>Signed: May 11, 2007; Gremio; £6m</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/milner.jpg">
		<h1>James Milner</h1>
		<h2>Midfielder</h2>
		<div class="playerDetails">
			<h3>Born: 4 January 1986; Leeds, England</h3>
			<h3>Signed: 1 July 2015; Man City; Free</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/wijnaldum.jpg">
		<h1>Georginio Wijnaldum</h1>
		<h2>Midfielder</h2>
		<div class="playerDetails">
			<h3>Born: November 11, 1990; Rotterdam, Netherlands</h3>
			<h3>Signed: 22 July 2016; Newcastle United, £25m</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/henderson.jpg">
		<h1>Jordan Henderson</h1>
		<h2>Midfielder</h2>
		<div class="playerDetails">
			<h3>Born: 17 June 1990; Sunderland, UK</h3>
			<h3>Signed: 9 June 2011; Sunderland; £16m</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/grujic.jpg">
		<h1>Marko Grujic</h1>
		<h2>Midfielder</h2>
		<div class="playerDetails">
			<h3>Born: 13 April 1996; Belgrade, Serbia</h3>
			<h3>Signed: 6 January 2016; Red Star Belgrade; £5.1m</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/can.jpg">
		<h1>Emre Can</h1>
		<h2>Midfielder</h2>
		<div class="playerDetails">
			<h3>Born: January 12, 1994; Frankfurt, Germany</h3>
			<h3>Signed: 3 July 2014; Bayer Leverkusen; £9.75m</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/lallana.jpg">
		<h1>Adam Lallana</h1>
		<h2>Midfielder</h2>
		<div class="playerDetails">
			<h3>Born: May 10, 1988; St Albans</h3>
			<h3>Signed: July 1, 2014; Southampton; £25m</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/coutinho2.jpg">
		<h1>Philippe Coutinho</h1>
		<h2>Midfielder</h2>
		<div class="playerDetails">
			<h3>Born: 12 June 1992; Rio de Janeiro, Brazil</h3>
			<h3>Signed: 30 January 2013; Inter Milan; £8m</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/mane.jpg">
		<h1>Sadio Mane</h1>
		<h2>Winger</h2>
		<div class="playerDetails">
			<h3>Born: April 10, 1992; Sedhiou, Senegal</h3>
			<h3>Signed: 28 June 2016; Southampton, £30m</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/sturridge2.jpg">
		<h1>Daniel Sturridge</h1>
		<h2>Forward</h2>
		<div class="playerDetails">
			<h3>Born: 1 September 1989; Birmingham, UK</h3>
			<h3>Signed: 2 January 2013; Chelsea; £12m</h3>
		</div>
	</div>

	<div class="player">
		<img src="img/origi.jpg">
		<h1>Divock Origi</h1>
		<h2>Forward</h2>
		<div class="playerDetails">
			<h3>Born: April 18, 1995; Ostend, Belgium</h3>
			<h3>Signed: July 29, 2014; Lille; £10m</h3>
		</div>
	</div>














