<h1 class="tittle">TABLE</h1>

	<section class="table">
		
		<div class="club">
			<div class="ranking"><h3>Pos.</h3></div>
			<div class="clubLogo"><h3>Logo</h3></div>
			<div class="clubName"><h3>Club</h3></div>
			<div class="goalDiference"><h3>GD</h3></div>
			<div class="poinst"><h3>Poinst</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>1</h3></div>
			<div class="clubLogo"><img src="img\chelsea.png"></div>
			<div class="clubName"><h3>Chelsea</h3></div>
			<div class="goalDiference"><h3>52</h3></div>
			<div class="poinst"><h3>93</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>2</h3></div>
			<div class="clubLogo"><img src="img\tottenham.png"></div>
			<div class="clubName"><h3>Tottenham Hotspur</h3></div>
			<div class="goalDiference"><h3>60</h3></div>
			<div class="poinst"><h3>86</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>3</h3></div>
			<div class="clubLogo"><img src="img\manCity.png"></div>
			<div class="clubName"><h3>Manchester City</h3></div>
			<div class="goalDiference"><h3>41</h3></div>
			<div class="poinst"><h3>78</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>4</h3></div>
			<div class="clubLogo"><img src="img\liverpool.png"></div>
			<div class="clubName"><h3>Liverpool</h3></div>
			<div class="goalDiference"><h3>36</h3></div>
			<div class="poinst"><h3>76</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>5</h3></div>
			<div class="clubLogo"><img src="img\arsenal.png"></div>
			<div class="clubName"><h3>Arsenal</h3></div>
			<div class="goalDiference"><h3>33</h3></div>
			<div class="poinst"><h3>75</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>6</h3></div>
			<div class="clubLogo"><img src="img\manUnd.png"></div>
			<div class="clubName"><h3>Manchester United</h3></div>
			<div class="goalDiference"><h3>25</h3></div>
			<div class="poinst"><h3>69</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>7</h3></div>
			<div class="clubLogo"><img src="img\everton.png"></div>
			<div class="clubName"><h3>Everton</h3></div>
			<div class="goalDiference"><h3>18</h3></div>
			<div class="poinst"><h3>61</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>8</h3></div>
			<div class="clubLogo"><img src="img\southampton.png"></div>
			<div class="clubName"><h3>Southampton</h3></div>
			<div class="goalDiference"><h3>-7</h3></div>
			<div class="poinst"><h3>46</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>9</h3></div>
			<div class="clubLogo"><img src="img\bournemouth.png"></div>
			<div class="clubName"><h3>Bournemouth</h3></div>
			<div class="goalDiference"><h3>-12</h3></div>
			<div class="poinst"><h3>46</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>10</h3></div>
			<div class="clubLogo"><img src="img\wba.png"></div>
			<div class="clubName"><h3>WBA</h3></div>
			<div class="goalDiference"><h3>-8</h3></div>
			<div class="poinst"><h3>45</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>11</h3></div>
			<div class="clubLogo"><img src="img\westHam.png"></div>
			<div class="clubName"><h3>West Ham United</h3></div>
			<div class="goalDiference"><h3>-17</h3></div>
			<div class="poinst"><h3>45</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>12</h3></div>
			<div class="clubLogo"><img src="img\leicester.png"></div>
			<div class="clubName"><h3>Leicester City</h3></div>
			<div class="goalDiference"><h3>-15</h3></div>
			<div class="poinst"><h3>44</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>13</h3></div>
			<div class="clubLogo"><img src="img\stoke.png"></div>
			<div class="clubName"><h3>Stoke City</h3></div>
			<div class="goalDiference"><h3>-15</h3></div>
			<div class="poinst"><h3>44</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>14</h3></div>
			<div class="clubLogo"><img src="img\crystalPalace.png"></div>
			<div class="clubName"><h3>Crystal Palace</h3></div>
			<div class="goalDiference"><h3>-13</h3></div>
			<div class="poinst"><h3>41</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>15</h3></div>
			<div class="clubLogo"><img src="img\swansea.png"></div>
			<div class="clubName"><h3>Swansea City</h3></div>
			<div class="goalDiference"><h3>-25</h3></div>
			<div class="poinst"><h3>41</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>16</h3></div>
			<div class="clubLogo"><img src="img\burnley.png"></div>
			<div class="clubName"><h3>Burnley</h3></div>
			<div class="goalDiference"><h3>-16</h3></div>
			<div class="poinst"><h3>40</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>17</h3></div>
			<div class="clubLogo"><img src="img\watford.png"></div>
			<div class="clubName"><h3>Watford</h3></div>
			<div class="goalDiference"><h3>-28</h3></div>
			<div class="poinst"><h3>40</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>18</h3></div>
			<div class="clubLogo"><img src="img\hull.png"></div>
			<div class="clubName"><h3>Hull City</h3></div>
			<div class="goalDiference"><h3>-43</h3></div>
			<div class="poinst"><h3>34</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>19</h3></div>
			<div class="clubLogo"><img src="img\middlesbrough.png"></div>
			<div class="clubName"><h3>Middlesbrough</h3></div>
			<div class="goalDiference"><h3>-26</h3></div>
			<div class="poinst"><h3>28</h3></div>
		</div>

		<div class="club">
			<div class="ranking"><h3>20</h3></div>
			<div class="clubLogo"><img src="img\sunderland.png"></div>
			<div class="clubName"><h3>Sunderland</h3></div>
			<div class="goalDiference"><h3>-40</h3></div>
			<div class="poinst"><h3>24</h3></div>
		</div>

	</section>